celerybeat-schedule
.DS_Store
.project
.pydevproject
.settings
*.bak
/djangoroot/adserver/static/adserver/js/generated
/bin
/develop-eggs
/eggs
/include
/lib
/parts
/src
/temp
/etc
/var
/media
.installed.cfg
.mr.developer.cfg
.Python
*.pyc
*.pyo
*.db
*.egg-info
*.swp
/webroot
/log
/tmp
# SASS stuff
*.sass-cache
/science.pem
/celerybeat.pid
/.externalToolBuilders
/run
/gitDescribe.txt
/cookie-jar
/man
/.idea
aws-credentials.txt
scripts/copyHiveLogsToS3.sh
/.s3cfg
djangoroot/project/settings_local.py
buildout.cfg
