{% load staticfiles %}
{% load project_extras %}

<html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="{% static 'project/js/jquery.cookie.js' %}"></script>
    <script src="{% static 'project/js/three.min.js' %}"></script>
    <script src="{% static 'project/js/mineSnake.js' %}"></script>
    <script src="{% static 'project/js/sweet-alert.min.js' %}"></script>
    <script src="{% static 'project/js/site.js' %}"></script>
    <script src="{% static 'project/js/jquery.peelback.js' %}"></script>
    <script src="{% static 'project/js/jquery.magnific-popup.min.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'project/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'project/css/project.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'project/css/sweet-alert.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'project/css/magnific-popup.css' %}">
    {% block extra_includes %}{% endblock %}

</head>
<body class="body-{{ view_id }}" {% for category in categories %}
{% if view_id == 'pieces-'|add:category.name  %}
style="background: {{ category.color }}; /* Old browsers */
    background: -moz-linear-gradient(top,  {{ category.background_gradient_top }} 0%, {{ category.background_gradient_bottom }} 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,{{ category.background_gradient_top }}), color-stop(100%,{{ category.background_gradient_bottom }})); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  {{ category.background_gradient_top }} 0%,{{ category.background_gradient_bottom }} 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  {{ category.background_gradient_top }} 0%,{{ category.background_gradient_bottom }} 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  {{ category.background_gradient_top }} 0%,{{ category.background_gradient_bottom }} 100%); /* IE10+ */
    background: linear-gradient(to bottom,  {{ category.background_gradient_top }} 0%,{{ category.background_gradient_bottom }} 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='{{ category.background_gradient_top }}', endColorstr='{{ category.background_gradient_bottom }}',GradientType=0 ); /* IE6-9 */"
{% endif %}{% endfor %}>
    <ul class="menu">
        <!-- product categories -->
        {% for category in categories %}
        <li class="category"><a href="/pieces/{{ category.name }}" style="background-color:{{ category.color }};" {% if view_id == 'pieces-'|add:category.name  %}class="on"{% endif %}></a></li>
        {% endfor %}
        <!------------------------>
        <li><a href="/about" class="graph"></a></li>
        <li><a href="/account" class="user"></a></li>
        <li><a href="{% if user.is_authenticated %}javascript:window.startSnake(){% else %}#{% endif %}" {% if user.is_authenticated == False %}onClick="loginRequired('You must login to mine!')"{% endif %} class="mine"></a></li>
        <li><a href="/contact" class="contact {% if view_id == 'contact' %} on{% endif %}"></a></li>
        <li><a href="/shop/cart" class="cart"></a></li>
    </ul>
    <div id="container">
        {% block content %}
        {% endblock %}
    </div>
    <script>
			var scene = new THREE.Scene();
			var camera = new THREE.PerspectiveCamera(75, 300/300, 0.1, 1000);

			var renderer = new THREE.WebGLRenderer({ alpha: true });
			renderer.setSize(300, 300);
			document.body.appendChild(renderer.domElement);

			/*var geometry = new THREE.BoxGeometry(1,1,1);
			var material = new THREE.MeshBasicMaterial({color: 0x00ff00});
			var cube = new THREE.Mesh(geometry, material);
			scene.add(cube);*/

            loader = new THREE.JSONLoader();

            var mesh;
            loader.load( "{% static 'project/js/coin.js' %}", function( geometry ) {
                mesh = new THREE.Mesh( geometry, new THREE.MeshNormalMaterial() );
                mesh.rotation.z = 0 * Math.PI / 180
                mesh.rotation.x = 90 * Math.PI / 180
                scene.add(mesh);
            } );

            var ambientLight = new THREE.AmbientLight(0xC0C0C0);
            scene.add(ambientLight);

            var directionalLight = new THREE.DirectionalLight(0xffffff);
            directionalLight.position.set(1, 1, 1).normalize();
            scene.add(directionalLight);


			camera.position.z = 3;

			var render = function () {
				requestAnimationFrame(render);

                if (mesh) {
                    mesh.rotation.z += 0.02;
                }

				renderer.render(scene, camera);
			};

			render();
		</script>
    <footer>
        {% if user.is_authenticated %}
        <div id="buy_coins_form">
            Current Rate: 1h = $<span id="rate">{{ coin_info.value }}</span>
            <input type="number" placeholder="How many coins?" id="coins-to-buy">
            <button id="start-buy">Buy!</button>
            <a id="cancel-buy">cancel</a>
        </div>
        <p class="user">Hi, {{ user }} <a href="/logout" id="logout">logout</a></p>
        <p class="coins">You have <span id="coin_count">{{ user.coins.count|format_number }}</span> Horowitz Coins. <a href="#" class="buy_coins footer">Wanna buy some more?</a></p>

        {% else %}
        <p class="user"><a href="/login" id="login">login!</a></p>
        {% endif %}
    </footer>
    {% if user.is_authenticated %}
    <script src="//checkout.stripe.com/v2/checkout.js"></script>
    {% endif %}
</body>
</html>