{% extends "base.html" %}
{% load staticfiles %}
{% block extra_includes %}
<script src="{% static 'project/js/highcharts.js' %}"></script>
{% endblock %}
{% block content %}
<h1><span class="lower">h</span>Coin Market</h1>
<h3 class="date">{% now "F j, Y H:i" %} PST</h3>

<div id="chart"></div>
<div id="journal-entry">
    <h4></h4>
    <a class="close-btn" onclick="closeJournalEntry()">x</a>
    <p></p>
</div>
<script>
$(function () {
    var descriptions = [
            {% for stat in coin_stats %}{
            date:"{{ stat.created|date:'m/d/Y' }}",
            description:"{{ stat.description|safe }}"
            }{% if forloop.last == False %},{% endif %}{% endfor %}
            ];
    var dates = [{% for stat in coin_stats %}'{{ stat.created|date:'m/d/y' }}'{% if forloop.last == False %},{% endif %}{% endfor %}];
    var mood = [{% for stat in coin_stats %}{{ stat.mood }}{% if forloop.last == False %},{% endif %}{% endfor %}];
    var sales = [{% for stat in coin_stats %}{{ stat.sales }}{% if forloop.last == False %},{% endif %}{% endfor %}];
    var productivity = [{% for stat in coin_stats %}{{ stat.productivity }}{% if forloop.last == False %},{% endif %}{% endfor %}];

    $('#chart').highcharts({
        chart: {
            backgroundColor:'rgba(255, 255, 255, 0.0)',
            panning: true,
            type: 'spline'
        },
        title: {
            text: null
        },
        tooltip: {
            useHTML: true,
            formatter: function() {
                var html = "<div>";
                html += "<p class='tt-title'>" + dates[this.x] + "</p>";
                html += "<p class='tt-value'><strong>$" + this.y.toFixed(2) + "</strong> = 1 hCoin</p>";
                html += "<p class='tt-title-inf'>influencers:</p>";
                html += "<p class='tt-mood'>mood: " + mood[this.x] + "</p>";
                html += "<p class='tt-sales'>sales: " + sales[this.x] + "</p>";
                html += "<p class='tt-productivity'>productivity: " + productivity[this.x] + "</p>";
                html += "</div>";
                return html;
            }
        },
        xAxis: {
            min: 1,
            tickColor: '#fff',
            lineColor: "#fff",
            labels: {
                formatter: function() { return dates[parseInt(this.value)]; },
                style: {
                    fontSize:'10px',
                    color:'#fff'
                }
            }
        },
        yAxis: [{
            gridLineColor: '#fff',
            labels: {
                formatter: function() { return "$" + this.value; },
                style: {
                    color:'#fff'
                }
            },
            title: {
                text: null
            },
            min: 0,
            max: 5,
            minColor: '#fff'
        },
        {
            gridLineColor: '#fff',
            title: {
                text: null
            },
            labels: {
                style: {
                    color:'#fff'
                }
            },
            opposite: true,
            min: 0,
            max: 100
        }],
        colors: ["rgba(51,51,51,1.0)", "rgba(214,0,156,0.2)", "rgba(0,76,214,0.2)", "rgba(214,0,76,0.2)"],
        plotOptions: {
            series: {
                point: {
                    events: {
                        click: function() {
                            if (descriptions[this.x].description != "None") {
                                showJounalEntry(descriptions[this.x].date, descriptions[this.x].description);
                            }
                        }
                    }
                }
            }
        },
        series: [{
            name: 'USD to hCoin',
            data: [{% for stat in coin_stats %}{% if stat.description %}{y:{{stat.value}},marker:{fillColor:'#c90000', radius:6, states:{hover:{fillColor:'#c90000'}}}}{% if forloop.last == False %},{% endif %}{% else %}{{stat.value}}{% if forloop.last == False %},{% endif %}{% endif %}{% endfor %}],
            zIndex: 5
        },
        {
            marker: {
                enabled: false
            },
            enableMouseTracking:false,
            name: 'mood',
            yAxis: 1,
            data: mood,
            color:'#FFFF00'
        },
        {
            marker: {
                enabled: false
            },
            enableMouseTracking:false,
            name: 'sales',
            yAxis: 1,
            data: sales,
            color: '#00FFFF'
        },
        {
            marker: {
                enabled: false
            },
            enableMouseTracking:false,
            name: 'productivity',
            yAxis: 1,
            data: productivity,
            color: '#FF00FF'
        }]
    });
});

function showJounalEntry(date, description) {
    if (description != "" && description != "None") {
        $('#journal-entry > h4').text(date);
        $('#journal-entry > p').text(description);
        $('#journal-entry').slideDown();
    }
}

function closeJournalEntry() {
    $('#journal-entry').slideUp();
}
</script>

<p class="coming-soon"><em>hCoin trading floor coming soon. buy early, buy often.</em></p>

{% endblock %}