{% extends "base.html" %}
{% load staticfiles %}
{% block extra_includes %}
<script src="{% static 'project/js/Chart.min.js' %}"></script>
{% endblock %}
{% block content %}
<h1>hCoin Market</h1>
<h3 class="date">{% now "F jS, Y H:i" %}</h3>

<canvas id="chart" width="600" height="400"></canvas>
<div id="journal-entry">
    <h4></h4>
    <a class="close-btn" onclick="closeJournalEntry()">x</a>
    <p></p>
</div>
<h3>Influencers</h3>
<canvas id="chart2" width="600" height="400"></canvas>

<script>
    var descriptions = [
            {% for stat in coin_stats %}{
            date:"{{ stat.created|date:'m/d/Y' }}",
            description:"{{ stat.description|safe }}"
            }{% if forloop.last == False %},{% endif %}{% endfor %}
            ];
    var ctx = $("#chart").get(0).getContext("2d");
    var data = {
        labels: [{% for stat in coin_stats %}'{{ stat.created|date:'m/d/Y' }}'{% if forloop.last == False %},{% endif %}{% endfor %}],
        datasets: [
            {
                label: "My First dataset",
                fillColor: "rgba(220,220,220,0.2)",
                strokeColor: "rgba(220,220,220,1)",
                pointColor: "rgba(220,220,220,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)",
                data: [{% for stat in coin_stats %}{{ stat.value }}{% if forloop.last == False %},{% endif %}{% endfor %}]
            }
        ]
    };
    var options = {
        responsive:true,
        scaleFontSize:10,
        ///Boolean - Whether grid lines are shown across the chart
        scaleShowGridLines : true,

        //String - Colour of the grid lines
        scaleGridLineColor : "rgba(0,0,0,.05)",

        //Number - Width of the grid lines
        scaleGridLineWidth : 1,

        //Boolean - Whether the line is curved between points
        bezierCurve : true,

        //Number - Tension of the bezier curve between points
        bezierCurveTension : 0.4,

        //Boolean - Whether to show a dot for each point
        pointDot : true,

        //Number - Radius of each point dot in pixels
        pointDotRadius : 4,

        //Number - Pixel width of point dot stroke
        pointDotStrokeWidth : 1,

        //Number - amount extra to add to the radius to cater for hit detection outside the drawn point
        pointHitDetectionRadius : 20,

        //Boolean - Whether to show a stroke for datasets
        datasetStroke : true,

        //Number - Pixel width of dataset stroke
        datasetStrokeWidth : 2,

        //Boolean - Whether to fill the dataset with a colour
        datasetFill : true,
        scaleLabel : "<%= '$' + Number(value).toFixed(2) %>",
        tooltipTemplate: "{% verbatim %}<%if (label){%>1 hCoin = <%}%>$<%= value.toFixed(2) %>{% endverbatim %}"

    };
    var myLineChart = new Chart(ctx).Line(data, options);

    $.each(descriptions, function(i) {
        if (this.description != "None") {
            myLineChart.datasets[0].points[i].strokeColor = "#c90000";
            myLineChart.datasets[0].points[i].fillColor = "#c90000";
            myLineChart.datasets[0].points[i].highlightFill = "#c90000";
        }
    });
    myLineChart.update();

    var ctx2 = $("#chart2").get(0).getContext("2d");
    var data = {
        labels: ["Mood", "Productivity", "Sales"],
        datasets: [
            {
                label: "My Second dataset",
                fillColor: "rgba(151,187,205,0.2)",
                strokeColor: "rgba(151,187,205,1)",
                pointColor: "rgba(151,187,205,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(151,187,205,1)",
                data: [{% with cs=coin_stats|last %}{{cs.mood}}, {{cs.productivity}}, {{cs.sales}}{% endwith %}]
            }
        ]
    };

    var options2 = {
        //Boolean - Whether to show lines for each scale point
        scaleShowLine : true,

        //Boolean - Whether we show the angle lines out of the radar
        angleShowLineOut : true,

        //Boolean - Whether to show labels on the scale
        scaleShowLabels : false,

        // Boolean - Whether the scale should begin at zero
        scaleBeginAtZero : true,

        //String - Colour of the angle line
        angleLineColor : "rgba(0,0,0,.1)",

        //Number - Pixel width of the angle line
        angleLineWidth : 1,

        //String - Point label font declaration
        pointLabelFontFamily : "'Arial'",

        //String - Point label font weight
        pointLabelFontStyle : "bold",

        //Number - Point label font size in pixels
        pointLabelFontSize : 14,

        //String - Point label font colour
        pointLabelFontColor : "#333",

        //Boolean - Whether to show a dot for each point
        pointDot : true,

        //Number - Radius of each point dot in pixels
        pointDotRadius : 3,

        //Number - Pixel width of point dot stroke
        pointDotStrokeWidth : 1,

        //Number - amount extra to add to the radius to cater for hit detection outside the drawn point
        pointHitDetectionRadius : 20,

        //Boolean - Whether to show a stroke for datasets
        datasetStroke : true,

        //Number - Pixel width of dataset stroke
        datasetStrokeWidth : 2,

        //Boolean - Whether to fill the dataset with a colour
        datasetFill : true
    }

    var chart2 = new Chart(ctx2 ).Radar(data, options2);

    $('#chart').click(function(e) {
        var activePoints = myLineChart.getPointsAtEvent(e);
        //var description = descriptions[activePoints[0].label];
        $.each(descriptions, function() {
            if (this.date == activePoints[0].label && this.description != "None") {
                showJounalEntry(this.date, this.description);
            }
        });

    });

    function showJounalEntry(date, description) {
        $('#journal-entry > h4').text(date);
        $('#journal-entry > p').text(description);
        $('#journal-entry').slideDown();
    }

    function closeJournalEntry() {
        $('#journal-entry').slideUp();
    }
</script>

<p class="coming-soon">*hCoin trading floor coming soon. buy early, buy often.</p>

{% endblock %}