{% extends "base.html" %}
{% load project_extras %}
{% block content %}
<h1>Account page</h1>
{% if user.is_authenticated %}
<h3>{{ user.username }}</h3>
<p>Member since: <strong>{{ user.date_joined|date:"M d, Y" }}</strong></p>
<h3>Coins: <strong>{{ user.coins.count|format_number }}</strong></h3>

<h3>Order History</h3>
{% if orders.count == 0 %}
<p>Nothing here...yet</p>
{% else %}
<table id="order_history">
 <tr>
    <th class="date">Date</th>
    <th style="text-align: center;">SKU</th>
    <th class="product">Name</th>
    <th style="text-align: center;">Price</th>
    <!--<th style="text-align: center;">Status</th>-->
</tr>
{% for order in orders %}
    {% for item in order.items.all %}
        <tr>
            <td>{{ order.created }}</td>
            <td style="text-align: center;">{{ item.product_reference }}</td>
            <td class="product">{{ item.product_name }}</td>
            <td style="text-align: center;">h{{ item.unit_price }}</td>
            <!--<td style="text-align: center;">-->
                <!--{{ order.status }}-->
            <!--</td>-->
        </tr>
    {% endfor %}
{% endfor %}
</table>
{% endif %}
{% else %}
<p>Please <a href="/login">login</a> to view your account.</p>
{% endif %}
{% endblock %}
