{% extends "base.html" %}
{% block content %}
<h1>Login <span>or <a href="/accounts/register/">create an account</a></span></h1>
{% if form.errors %}
<p class="text-error">Your username and password didn't match, please try again.</p>
{% endif %}

<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
    {% csrf_token %}
    <input id="id_username" maxlength="254" name="username" type="text" placeholder="username">
    <input id="id_password" name="password" type="password" placeholder="password">
    <div class="clear"></div>
    <a href="/accounts/password/reset/" class="forgot">Forgot Password?</a>
    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}