{% extends "base.html" %}
{% block content %}
<div class="item">
    <p class="title">{{object.name}} - <span>h{{object.unit_price}}</span> - {% if object.sold %}<a>SOLD!</a>{% else %}<a href="">buy</a>{% endif %}</p>
    <a href="{{object.get_absolute_url}}"><img src="{{MEDIA_URL}}{{object.hero_image}}"></a>
</div>
{% if not object.sold %}
<form method="post" action="{% url 'cart' %}">{% csrf_token %}
    <input type="hidden" name="add_item_id" value="{{object.pk}}">
    <input type="hidden" name="add_item_quantity" value="1">
    <input type="submit" value="Add to cart">
</form>
{% endif %}
{% endblock %}