body {
    background-color: #ffc300;
    background-image: linear-gradient(top, #0097d0 0%, #ffc300 95%, #ffc300 100%);
    background-image: -o-linear-gradient(top, #0097d0 0%, #ffc300 95%, #ffc300 100%);
    background-image: -moz-linear-gradient(top, #0097d0 0%, #ffc300 95%, #ffc300 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #0097d0),color-stop(0.50, #ffc300),color-stop(1, #ffc300));
    background-image: -webkit-linear-gradient(top, #0097d0 0%, #ffc300 95%, #ffc300 100%);
    background-image: -ms-linear-gradient(top, #0097d0 0%, #ffc300 95%, #ffc300 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0097d0 ', endColorstr='#ffc300');
    background-repeat: no-repeat;
}