@font-face {
  font-family: 'ACaslonPro-Italic';
  src: url('../fonts/ACaslonPro-Italic.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/ACaslonPro-Italic.woff') format('woff'), url('../fonts/ACaslonPro-Italic.ttf')  format('truetype'), url('../fonts/ACaslonPro-Italic.svg#ACaslonPro-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AkzidenzGroteskCE-Roman';
  src: url('../fonts/AkzidenzGroteskCE-Roman.eot?#iefix') format('embedded-opentype'),  url('../fonts/AkzidenzGroteskCE-Roman.woff') format('woff'), url('../fonts/AkzidenzGroteskCE-Roman.ttf')  format('truetype'), url('../fonts/AkzidenzGroteskCE-Roman.svg#AkzidenzGroteskCE-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AkzidenzGroteskCE-Black';
  src: url('../fonts/AkzidenzGroteskCE-Black.eot?#iefix') format('embedded-opentype'),  url('../fonts/AkzidenzGroteskCE-Black.woff') format('woff'), url('../fonts/AkzidenzGroteskCE-Black.ttf')  format('truetype'), url('../fonts/AkzidenzGroteskCE-Black.svg#AkzidenzGroteskCE-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ACaslonPro-Regular';
  src: url('../fonts/ACaslonPro-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/ACaslonPro-Regular.otf')  format('opentype'),
	     url('../fonts/ACaslonPro-Regular.woff') format('woff'), url('../fonts/ACaslonPro-Regular.ttf')  format('truetype'), url('../fonts/ACaslonPro-Regular.svg#ACaslonPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'ACaslonPro-BoldItalic';
  src: url('../fonts/ACaslonPro-BoldItalic.eot?#iefix') format('embedded-opentype'),  url('../fonts/ACaslonPro-BoldItalic.woff') format('woff'), url('../fonts/ACaslonPro-BoldItalic.ttf')  format('truetype'), url('../fonts/ACaslonPro-BoldItalic.svg#ACaslonPro-BoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}


body {
    font-family: 'ACaslonPro-Regular', serif;
    background-color: #ffc300;
    background-image: linear-gradient(top, #0097d0 0%, #ffc300 95%, #ffc300 100%);
    background-image: -o-linear-gradient(top, #0097d0 0%, #ffc300 95%, #ffc300 100%);
    background-image: -moz-linear-gradient(top, #0097d0 0%, #ffc300 95%, #ffc300 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #0097d0),color-stop(0.50, #ffc300),color-stop(1, #ffc300));
    background-image: -webkit-linear-gradient(top, #0097d0 0%, #ffc300 95%, #ffc300 100%);
    background-image: -ms-linear-gradient(top, #0097d0 0%, #ffc300 95%, #ffc300 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0097d0 ', endColorstr='#ffc300');
    background-repeat: no-repeat;
    text-transform: lowercase;
}

.clear {
    clear: both;
}

#container {
    width:35%;
    margin: 0px auto;
    padding-top:40px;
    padding-bottom: 100px;
    max-width: 1280px;
}

.item {
    margin-bottom: 40px;
}

.item img {
    margin: 25px 0 10px 0;
    width: 100%;
}

.item-info {
    width:73%;
    float: left;
}

.item-info > h2 {
    font-size: 22px;
    margin: 0 0 4px;
    padding: 0px;
    font-family: 'ACaslonPro-BoldItalic';
    line-height: 120%;
}

.item-info > p {
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    font-family: 'ACaslonPro-Italic';
}

.item-action {
    width:27%;
    float: right;
}

.item-action > p {
    text-align: right;
    font-size:18px;
    margin: 0px;
    padding: 0px;
    color: #666666;
}

.item-action > button.sold {
    float: right;
    background: #d80516;
    border: none;
    font-family: 'AkzidenzGroteskCE-Black', serif;
    font-size: 16px;
    padding:5px 15px;
    text-transform: uppercase;
}

.item-action > form {
    margin: 0px 0 10px 0;
}

.item-action > input {
    margin: 20px 0 0 0;
}

table {
    font-family: AkzidenzGroteskCE-Roman;
}

table th {
    font-family: AkzidenzGroteskCE-Black;
}

footer {
    background:rgba(0, 0, 0, 0.5);;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width:100%;
    padding: 10px 10px;
    color:#fff;
    font-family: AkzidenzGroteskCE-Black;
}

footer p {
    margin:0px;
    height: 22px;
}

footer p.user {
    width:200px;
    float:left;
}

footer p.user a#logout {}

footer p.coins {
    width:450px;
    float:right;
    text-align: right;
    margin-right: 24px;
}

footer div#buy_coins_form {
    float: right;
    display:none;
}

footer div#buy_coins_form input[type="text"],
footer div#buy_coins_form input[type="number"] {
    background:#fff;
    width:120px;
    border:1px solid #000;
    margin:0 10px;
    padding: 0 0 0 5px;
    font-size: 12px;
    border-radius:0px;
    font-family: 'AkzidenzGroteskCE-Roman', serif;
}

footer div#buy_coins_form button {
    padding: 1px 5px;
    margin: 0 10px 0 0;
    font-family: 'AkzidenzGroteskCE-Black', serif;
    border:none;
    background: #0397CC;
    color: #fff;
}

footer div#buy_coins_form a {
    margin: 0 20px 0 0;
}


div.buy_coins_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: rgba(0,0,0,0.4);
}

div.buy_coins_content {
    width:400px;
    height:400px;
    background:#fff;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin:0px auto;
    -webkit-box-shadow: 0 0 5px 4px rgba(0,0,0,0.2);
    box-shadow: 0 0 5px 4px rgba(0,0,0,0.2);
}

ul.menu {
    list-style-type: none;
    position: fixed;
    top: 65px;
    left: 130px;
}

ul.menu li {
    display: block;
    width: 50px;
    height: 50px;
    background: #3da399;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

ul.menu li:last-child {
    border-bottom:none;
}

ul.menu li a {
    display: block;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat !important;
    background-position-x: 50% !important;
    background-position-y: 50% !important;
    background-size: 30% !important;
    -webkit-transition: background 0.1s ease-in-out;
    -moz-transition: background 0.1s ease-in-out;
    transition: background 0.1s ease-in-out;
}

ul.menu li a:hover {
    background-repeat: no-repeat !important;
    background-position-x: 50% !important;
    background-position-y: 50% !important;
    background-size: 50% !important;
    background-color:#ffc500 !important;
}

ul.menu li a.on {
    opacity: 0.3;
}

a.graph {
    background-image: url('../img/icons/black/bars.png')!important;
}

a.graph:hover {
    background-image: url('../img/icons/white/bars.png')!important;
}

a.user {
    background-image: url('../img/icons/black/user.png')!important;
}

a.user:hover {
    background-image: url('../img/icons/white/user.png')!important;
}

a.mine {
    background-image: url('../img/icons/black/hammer.png')!important;
}

a.mine:hover {
    background-image: url('../img/icons/white/hammer.png')!important;
}

a.contact {
    background-image: url('../img/icons/black/quill.png')!important;
}

a.contact:hover {
    background-image: url('../img/icons/white/quill.png')!important;
}

a.cart {
    background-image: url('../img/icons/black/cart.png')!important;
}

a.cart:hover {
    background-image: url('../img/icons/white/cart.png')!important;
}

h1 {
    margin-top: 22px;
    text-transform: uppercase;
}

h1 span {
    font-size:18px;
}

h1 span.date {
    margin: 17px 0 0 0;
    line-height: 100%;
    display:block;
    float: right;
}

h1 span a {
    color:c90000;
}

h3 {
    text-transform: uppercase;
}

label {
    font-size:18px;
}

ul.errorlist {
    margin:0 0 5px 0;
    padding:0px;
    color:c90000;
    list-style-type: none;
}

textarea,
input[type="text"],
input[type="password"],
input[type="email"] {
    width:100%;
    border:2px solid rgba(255, 255, 255, 0.8);
    background:none;
    border-radius: 0px;
    padding:5px;
    font-size:18px;
    height:auto;
    font-family: 'AkzidenzGroteskCE-Black', serif;
    color:#333;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: rgb(61, 163, 153);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
    outline: 0 none;
    background: rgba(255, 255, 255, 0.3);
}

a.button,
input[type="submit"],
button[type="submit"] {
    font-family: 'AkzidenzGroteskCE-Black', serif;
    font-size: 16px;
    padding:5px 15px;
    background:rgb(61, 163, 153);
    border:none;
    text-transform: uppercase;
}

form.add-to-cart {
    float:right;
    clear: left;
}

p.price {
    clear: both;
}

a.button {
    color:#000;
}

a.button:hover {
    color:#000;
    text-decoration: none;
}

table.cart {
    width:100%;
    border:none;
    margin-top:30px;
}

table.cart th {
    text-align: left;
    border: none;
    border-bottom:2px solid rgba(255, 255, 255, 0.8);
    padding-bottom: 4px;
}

table.cart td {
    border: none;
    border-bottom:2px solid rgba(255, 255, 255, 0.2);
    padding: 4px 5px 4px 0;
}

table.cart td.total {
    text-align: right;
}

table.cart td.thumb > img {
    width:100px;
}

input.empty {
    background:none;
    font-size: 12px;
    padding:0px;
    margin-top: 20px;
    color:#c90000;
}

#id_shipping_method {
    display:none;
}

label[for="id_shipping_method"] {
    display: none;
}

canvas {
    position:fixed;
    bottom:30px;
    right:0px;
}

canvas#chart,
canvas#chart2 {
    position:relative;
    margin-top:40px;
}

div#mining_info_container {
    position: fixed;
    width: 300px;
    height:80px;
    bottom:30px;
    right:0px;
    text-align: center;
}

div#mining_info_container p#score {
    font-size:16px;
    color:#c90000;
    margin:6px 0 0 0;

}

div#mining_info_container p#instructions {
    font-size:11px;
    color:#999;
}

div#mining_info_container p#mining-rate {
    font-size:12px;
    margin:0px;
}

div#plus_one {
    position: fixed;
    width: 300px;
    height:40px;
    bottom:240px;
    right:0px;
    font-size: 42px;
    font-weight: bold;
    color:#fff;
    text-shadow: 0 0 5px #fff;
    text-align: center;
}

table#order_history {
    width:100%;
    text-align:left;
}

table#order_history tr {
    border-bottom:1px solid #333;
}

table#order_history th.date {
    width:35%;
}

table#order_history th.product,
table#order_history td.product {
    padding-left: 10px;
    width:30%;
}

table#order_history td {
    padding:10px 0;
}

p.text-error {
    font-size: 18px;
}

#buy-coins-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    display: none;
}

#buy-coins-container {
    background-color: #fff;
    width: 400px;
    height:200px;
    position: absolute;
    top: 50%;
    left:0px;
    right:0px;
    margin: 0px auto;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    background: rgb(240,249,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(240,249,255,1) 0%, rgba(203,235,255,1) 47%, rgba(161,219,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,249,255,1)), color-stop(47%,rgba(203,235,255,1)), color-stop(100%,rgba(161,219,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 ); /* IE6-9 */
    border-radius: 10px;
}

#buy-coins-container > p {
    font-size: 18px;
}

#buy-coins-container > input[type="number"] {
    height: auto;
}

#buy-coins-container > button {
    background: #3da399;
    border: none;
    font-family: 'AkzidenzGroteskCE-Black', serif;
    font-size: 16px;
    padding:5px 15px;
    text-transform: uppercase;
    margin-top: 10px;
}

@media only screen and (max-width : 767px) {
    #peelback {
        display: none;
    }

    #container {
        width: 95%;
    }

    ul.menu {
        list-style-type: none;
        position: fixed;
        top: 0px;
        left: 0px;
        right:0px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        background: #3da399;
    }

    ul.menu li {
        border:none;
        display: block;
        width: 50px;
        height: 50px;
        background: #3da399;
        text-align: center;
        float: left;
    }

    ul.menu li:first-child {
        display: none;
    }

    canvas {
        display: none;
    }

    canvas#chart,
    canvas#chart2 {
        display: block;
    }

    footer {
        font-size: 12px;
        padding: 5px 0;
    }

    footer > p {
        width: 100% !important;
        margin: 0px !important;
        padding: 0px !important;
        text-align: center !important;
    }

    .item-info > h2 {
        font-size: 18px;
    }

    .item-info > p {
        font-size: 14px;
    }

    footer div#buy_coins_form input[type="text"], footer div#buy_coins_form input[type="number"] {
        width:60px;
    }

    a.button, input[type="submit"], button[type="submit"] {
        font-family: 'AkzidenzGroteskCE-Black', serif;
        font-size: 12px;
        padding: 5px 10px;
        background: rgb(61, 163, 153);
        border: none;
        text-transform: uppercase;
    }

    .item-action > form {
        margin: 0px 0 10px 0;
    }
}

@media only screen and (max-width : 1172px) {
    .item-info > h2 {
        font-size: 18px;
    }

    .item-info > p {
        font-size: 14px;
    }

    a.button, input[type="submit"], button[type="submit"] {
        font-family: 'AkzidenzGroteskCE-Black', serif;
        font-size: 12px;
        padding: 5px 10px;
        background: rgb(61, 163, 153);
        border: none;
        text-transform: uppercase;
    }

}

@media only screen and (max-width : 956px) and (min-width : 768px) {
    a.button, input[type="submit"], button[type="submit"] {
        font-family: 'AkzidenzGroteskCE-Black', serif;
        font-size: 10px;
        padding: 5px 5px;
        background: rgb(61, 163, 153);
        border: none;
        text-transform: uppercase;
    }
}