#
# Development buildout configuration
#

[buildout]
extends = common.cfg
parts +=
    django-link-static

[project-env]
db-host = localhost
db-port =
db-user = 
db-pass =
db-name = 
django-debug = False

stripe-key-private = sk_live_lVCFj2u8aYoBGRs6JEAd6nRN
stripe-key-public = pk_live_ofhUgrDf3rsdIfVDlwKDnWnO

[supervisor]
programs +=
