{% extends "base.html" %}
{% load i18n %}
{% block content %}
<h1>{% trans "Cart" %}</h1>
{% if request.GET.err or cart.total_price > user.coins.count %}
<p class="text-error">
    {% if request.GET.err == "insufficient_balance" or cart.total_price > user.coins.count %}
    {% if user.is_authenticated == True %}
    {{user.is_authenticated}}
    You do not have enough Horowitz Coins to complete this purchase.<br /><a href="#" class="buy_coins">Buy some Horowitz Coins?</a>
    {% else %}
    You must be logged in to complete this purchase. <a href="/login">Login now!</a>
    {% endif %}
    {% endif %}
</p>
{% endif %}
{% if cart_items %}
<form method="post" action="{% url 'cart_update' %}">
    {% csrf_token %}
    {{ formset.management_form }}
    <table border="1" class="cart">
        <thead>
            <tr>
                <th></th>
                <th>{% trans "Name" %}</th>
                <th colspan="2"></th>
                <th class="price_hdr">{% trans "Price" %}</th>
            </tr>
        </thead>

        <tbody>
        {% for form in formset %}
        {% with form.quantity as field %}
            <tr>
                <td class="thumb"><img src="{{MEDIA_URL}}{{ form.instance.product.hero_image }}"></td>
                <td>{{ form.instance.product.get_name }}</td>
                <td colspan="2"></td>
                <td>h{{ form.instance.product.get_price }}</td>
            </tr>
            {% for extra_price_field in form.instance.extra_price_fields %}
            <tr>
                <td colspan="3">&nbsp;</td>
                <td>h{{ extra_price_field.0 }}</td>
                <td>h{{ extra_price_field.1 }}</td>
            </tr>
            {% endfor %}
            <!--<tr><td colspan="2">&nbsp;</td><td>{% trans "Line Total" %}:</td><td>{{ form.instance.line_total }}</td></tr>-->
        {% endwith %}
        {% endfor %}
        </tbody>

        <tfoot>
            <!--<tr><td colspan="2">&nbsp;</td><td>{% trans "Cart Subtotal" %}</td><td>{{cart.subtotal_price}}</td></tr>-->
            {% for extra_price_field in cart.extra_price_fields %}
            <tr>
                <td colspan="3">&nbsp;</td>
                <td>h{{ extra_price_field.0 }}</td>
                <td>h{{ extra_price_field.1 }}</td>
             </tr>
            {% endfor %}
            <tr><td colspan="3">&nbsp;</td><td><b>{% trans "Cart Total" %}</b></td><td><b>h{{cart.total_price}}</b></td></tr>
        </tfoot>
    </table>
</form>

<form action="{% url 'cart_delete' %}" method="post">
    {% csrf_token %}
    {% if not request.GET.err and cart.total_price <= user.coins.count %}
    <a href="{% url 'checkout_selection' %}" class="button">{% trans "Proceed to checkout" %}</a>
    {% endif %}
    <div class="clear"></div>
    <input type="submit" class="empty" value="{% trans "Empty Shopping Cart" %}"/>
</form>


{% else %}
<p>
{% trans "Shopping cart is empty" %}
</p>
{% endif %}
{% endblock %}